{
 "botDiscordToken": "",
 "infuraToken": "",
 "votingAddress": "",
 "tokensAddress": "",
 "financeAddress": "",
 "lastBlock": "",
 "members": {
     "0x1234...":"member name",
     "0x5678...":"member 2"
 }
}